In [38]:
import requests

In [39]:
url = "https://www.cars24.com/buy-used-cars-pune/?sort=bestmatch&serveWarrantyCount=true&storeCityId=2423"

In [40]:
requests.get(url)

In [41]:
request_header = {'Content-Type': 'text/html; charset=UTF-8','User-Agent': 'Chrome/101.0.0.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/119.0','Accept-Encoding': 'gzip, deflate, br'}

page = requests.get(url,headers =request_header)

In [42]:
page

In [43]:
from bs4 import BeautifulSoup

In [44]:
soup = BeautifulSoup(page.text)

In [45]:
for i in soup.find_all('div' , class_ = 'styles_contentWrap__9oSrl'):
    print(i.text)

In [46]:
for i in soup.find_all("div", class_ = "styles_outer__NTVth"):
     print(i.text)
     print("-"*70)

In [47]:
import numpy as np
import re
section = soup.find_all('div' , class_ = 'styles_contentWrap__9oSrl')

Year = []
Brand = [] 
Model = []
Fuel_Type = []
for i in section:
     t = i.find("div", class_="styles_outer__NTVth")
     text = t.text

     year = re.findall('^\d+' , text)
     if year:
         Year.append(year[0])
     else:
         Year.append(np.nan)
        
     brand = re.findall(r'^\d+\s(\w+)' , text)
     if brand:
         Brand.append(brand[0])
     else:
         Brand.append(np.nan)

     model = re.findall(r'^\w+ \w+ (\w+ \w+)',text)
     if model:
         Model.append(model[0])
     else:
         Brand.append(np.nan)
    
     fuel = re.findall(r'km(\w+M)', text)
     if fuel:
         Fuel_Type.append(fuel[0])
     else:
         Fuel_Type.append(np.nan)
    
        
print(Year) 
print("-"*150)
print(len(Year))
print("-"*150)

print(Brand)
print("-"*150)
print(len(Brand))

print(Model)
print("-"*150)
print(len(Model))

print(Fuel_Type)

[]
------------------------------------------------------------------------------------------------------------------------------------------------------
0
------------------------------------------------------------------------------------------------------------------------------------------------------
[]
------------------------------------------------------------------------------------------------------------------------------------------------------
0
[]
------------------------------------------------------------------------------------------------------------------------------------------------------
0
[]

In [48]:
Brand =[]
for i in soup.find_all("div" , class_="styles_outer__NTVth"):
     Brand.append(i.text)
     print(Brand)
     print('-'*70)

In [49]:
soup.find("div", class_="sc-dENhDJ fkorgQ")

In [3]:
pune = "https://www.cars24.com/buy-used-cars-pune/?sort=bestmatch&serveWarrantyCount=true&storeCityId=2423"
mumbai = "https://www.cars24.com/buy-used-cars-mumbai/?sort=bestmatch&serveWarrantyCount=true&storeCityId=2378"
Bangalore = "https://www.cars24.com/buy-used-cars-bangalore/?sort=bestmatch&serveWarrantyCount=true&storeCityId=4709"
newdelhi = "https://www.cars24.com/buy-used-cars-new-delhi/?sort=bestmatch&serveWarrantyCount=true&storeCityId=2"
hydrabad ="https://www.cars24.com/buy-used-cars-hyderabad/?sort=bestmatch&serveWarrantyCount=true&storeCityId=3686"
Nashik = "https://www.cars24.com/buy-used-cars-nashik/?sort=bestmatch&serveWarrantyCount=true&storeCityId=2598"
indore = "https://www.cars24.com/buy-used-cars-indore/?sort=bestmatch&serveWarrantyCount=true&storeCityId=2920"
noida = "https://www.cars24.com/buy-used-cars-noida/?sort=bestmatch&serveWarrantyCount=true&storeCityId=134"
Chandighar = "https://www.cars24.com/buy-used-cars-chandigarh-tricity/?sort=bestmatch&serveWarrantyCount=true&storeCityId=8623"
ludiana =  "https://www.cars24.com/buy-used-cars-ludhiana/?sort=bestmatch&serveWarrantyCount=true&storeCityId=666"
lucknow = "https://www.cars24.com/buy-used-cars-lucknow/?sort=bestmatch&serveWarrantyCount=true&storeCityId=290"
gurgaon = "https://www.cars24.com/buy-used-cars-gurgaon/?sort=bestmatch&serveWarrantyCount=true&storeCityId=5"
gaziabad = "https://www.cars24.com/buy-used-cars-ghaziabad/?sort=bestmatch&serveWarrantyCount=true&storeCityId=132"
kolkatta = "https://www.cars24.com/buy-used-cars-kolkata/?sort=bestmatch&serveWarrantyCount=true&storeCityId=777"
coimbatore = "https://www.cars24.com/buy-used-cars-coimbatore/?sort=bestmatch&serveWarrantyCount=true&storeCityId=6105"
patan = "https://www.cars24.com/buy-used-cars-patna/?sort=bestmatch&serveWarrantyCount=true&storeCityId=8184"
surat = "https://www.cars24.com/buy-used-cars-surat/?sort=bestmatch&serveWarrantyCount=true&storeCityId=1605"
rajkot = "https://www.cars24.com/buy-used-cars-surat/?sort=bestmatch&serveWarrantyCount=true&storeCityId=1605"
vadodadra = "https://www.cars24.com/buy-used-cars-vadodara/?sort=bestmatch&serveWarrantyCount=true&storeCityId=1674"
agra = "https://www.cars24.com/buy-used-cars-agra/?sort=bestmatch&serveWarrantyCount=true&storeCityId=136"
ahmedabad = "https://www.cars24.com/buy-used-cars-ahmedabad/?sort=bestmatch&serveWarrantyCount=true&storeCityId=1692"
jaipur = "https://www.cars24.com/buy-used-cars-jaipur/?sort=bestmatch&serveWarrantyCount=true&storeCityId=2130"
amritsar = "https://www.cars24.com/buy-used-cars-amritsar/?sort=bestmatch&serveWarrantyCount=true&storeCityId=684"
trivandrum = "https://www.cars24.com/buy-used-cars-trivandrum/?sort=bestmatch&serveWarrantyCount=true&storeCityId=6565"
bhubaneswar = "https://www.cars24.com/buy-used-cars-bhubaneswar/?sort=bestmatch&serveWarrantyCount=true&storeCityId=7323"
dehradun =  "https://www.cars24.com/buy-used-cars-dehradun/?sort=bestmatch&serveWarrantyCount=true&storeCityId=1512"
bhopal =  "https://www.cars24.com/buy-used-cars-bhopal/?sort=bestmatch&serveWarrantyCount=true&storeCityId=2987"
import re
import warnings
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

warnings.filterwarnings("ignore")

# List of cities with their IDs
data = {
    "pune": 2423, "bangalore": 4709, "mumbai": 2378, "delhi": 2, "hyderabad": 3686,
    "nashik": 2598, "indore": 2920, "noida": 134, "chandigarh": 8623, "ludhiana": 666,
    "lucknow": 290, "gurgaon": 5, "ghaziabad": 132, "kolkata": 777, "coimbatore": 6105,
    "patna": 8184, "surat": 1605, "vadodara": 1674, "agra": 136, "ahmedabad": 1692,
    "jaipur": 2130, "amritsar": 684, "trivandrum": 6565, "bhubaneswar": 7323,
    "dehradun": 1512, "bhopal": 2987
}

# Lists to store scraped data
Year, Brand, Model, Fuel_Type, Transmission = [], [], [], [], []
KM_Driven, Owner, EMI_Price, Price, City = [], [], [], [], []

# Function to clean and convert KM to numeric form
def convert_km(km_text):
    if isinstance(km_text, str):
        km_text = km_text.replace(",", "").strip()
        if "lakh" in km_text.lower():
            return int(float(re.findall(r'[\d\.]+', km_text)[0]) * 100000)
        return int(re.findall(r'[\d\.]+', km_text)[0])
    return np.nan

# Loop through each city
for city, city_id in data.items():
    url = f"https://www.cars24.com/buy-used-cars-{city}/?sort=bestmatch&serveWarrantyCount=true&storeCityId={city_id}"
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.0.0 Safari/537.36"
    }

    page = requests.get(url, headers=headers)
    soup = BeautifulSoup(page.text, "html.parser")

    section = soup.find_all("div", class_="styles_contentWrap__9oSrl")

    for car in section:
        t = car.find("div", class_="styles_outer__NTVth")
        text = t.text.strip() if t else ""

        # Extracting details
        year = re.findall(r'^\d{4}', text)
        Year.append(year[0] if year else np.nan)

        brand = re.findall(r'^\d{4}\s([A-Za-z]+)', text)
        Brand.append(brand[0] if brand else np.nan)

        model = re.findall(r'\d{4}\s[A-Za-z]+\s([A-Za-z0-9\-]+)', text)
        Model.append(model[0] if model else np.nan)

        fuel = re.findall(r'(Petrol|Diesel|CNG|Electric|Hybrid)', text)
        Fuel_Type.append(fuel[0] if fuel else np.nan)

        trans = re.findall(r'(Manual|Automatic|Auto)', text)
        Transmission.append(trans[0] if trans else np.nan)

        km = re.findall(r'([\d,\.]+\s?(?:Lakh|KM|km))', text, re.IGNORECASE)
        KM_Driven.append(convert_km(km[0]) if km else np.nan)

        owner = re.findall(r'(\d\w*\s?owner)', text, re.IGNORECASE)
        Owner.append(owner[0] if owner else np.nan)

        emi_price = re.findall(r'EMI\s?₹?[\d,]+\/m', text)
        EMI_Price.append(emi_price[0] if emi_price else np.nan)

        price = re.findall(r'₹[\d,]+(?:\.\d+)?\s?(?:lakh|L|crore|Cr)?', text)
        Price.append(price[0] if price else np.nan)

        City.append(city.capitalize())

# Convert to DataFrame
df = pd.DataFrame({
    "City": City,
    "Year": Year,
    "Brand": Brand,
    "Model": Model,
    "Fuel_Type": Fuel_Type,
    "Transmission": Transmission,
    "KM_Driven": KM_Driven,
    "Owner": Owner,
    "EMI_Price": EMI_Price,
    "Price": Price
})

In [4]:
print(df.head(20))  # Print first 20 rows
df.to_csv("Cars24_Used_Cars.csv", index=False)  # Save to CSV
print("\nData saved to 'Cars24_Used_Cars.csv'")

    City  Year    Brand   Model Fuel_Type Transmission  KM_Driven      Owner  \
0   Pune  2023  Hyundai     NEW    Petrol         Auto     876000  1st owner
1   Pune  2022  Renault  TRIBER    Petrol         Auto     650000  1st owner
2   Pune  2019  Hyundai   VENUE    Petrol         Auto     772000  2nd owner
3   Pune  2022     Tata   NEXON    Diesel       Manual    1254000  1st owner
4   Pune  2022     Tata  ALTROZ    Petrol       Manual     741000  1st owner
5   Pune  2023       MG   ASTOR    Petrol         Auto    1380000  1st owner
6   Pune  2021  Renault    Kwid    Petrol         Auto     412000  2nd owner
7   Pune  2019  Hyundai     NEW       CNG       Manual     423000  1st owner
8   Pune  2017    Honda    WR-V    Petrol       Manual     600000  1st owner
9   Pune  2018     Tata   NEXON       CNG       Manual     662000  2nd owner
10  Pune  2021   Maruti   Swift       CNG       Manual     590000  1st owner
11  Pune  2023     Tata   Tiago       CNG       Manual     648000  1st owner
12  Pune  2020     Tata   Tiago    Petrol       Manual     441000  1st owner
13  Pune  2022       MG   ASTOR    Petrol         Auto    1343000  1st owner
14  Pune  2019   Maruti   Dzire    Petrol       Manual     486000  2nd owner
15  Pune  2018    Honda    WR-V    Petrol       Manual     641000  1st owner
16  Pune  2016  Hyundai   Verna    Petrol       Manual     540000  1st owner
17  Pune  2017     Tata   Tiago    Petrol       Manual     352000  1st owner
18  Pune  2024     Tata   TIGOR       CNG         Auto     890000  1st owner
19  Pune  2019      KIA  SELTOS    Petrol         Auto    1160000  2nd owner

        EMI_Price    Price
0   EMI ₹16,676/m  ₹16,676
1   EMI ₹12,705/m  ₹12,705
2   EMI ₹15,088/m  ₹15,088
3   EMI ₹23,862/m  ₹23,862
4   EMI ₹14,478/m  ₹14,478
5   EMI ₹26,262/m  ₹26,262
6    EMI ₹8,049/m   ₹8,049
7    EMI ₹8,266/m   ₹8,266
8   EMI ₹11,737/m  ₹11,737
9   EMI ₹12,937/m  ₹12,937
10  EMI ₹11,535/m  ₹11,535
11  EMI ₹12,665/m  ₹12,665
12   EMI ₹8,614/m   ₹8,614
13  EMI ₹25,563/m  ₹25,563
14   EMI ₹9,496/m   ₹9,496
15  EMI ₹12,532/m  ₹12,532
16  EMI ₹10,557/m  ₹10,557
17   EMI ₹6,884/m   ₹6,884
18  EMI ₹16,943/m  ₹16,943
19  EMI ₹22,088/m  ₹22,088

Data saved to 'Cars24_Used_Cars.csv'

In [5]:
df.Model.unique()

array(['NEW', 'TRIBER', 'VENUE', 'NEXON', 'ALTROZ', 'ASTOR', 'Kwid',
       'WR-V', 'Swift', 'Tiago', 'Dzire', 'Verna', 'TIGOR', 'SELTOS',
       'Eon', 'Amaze', 'i10', 'New', 'Wagon', 'Rapid', 'Vitara', 'Thar',
       'Polo', 'Sunny', 'CARENS', 'Duster', 'XUV500', 'Baleno', 'IGNIS',
       'Ertiga', 'Ameo', 'Grand', 'AURA', 'Vento', 'Ciaz', 'GRAND',
       'Elite', 'Creta', 'Brio', 'i20', 'Terrano', 'Kuv100', 'Ritz',
       'Celerio', 'Xcent', 'MAGNITE', 'Zen', 'City', 'PUNCH', 'Alto',
       'Harrier', 'Redi', 'FREESTYLE', 'S', 'Safari', 'HECTOR', 'XUV700',
       'SONET', 'URBAN', 'Ecosport', 'SLAVIA', 'VIRTUS', 'XUV300', 'Go',
       'TAIGUN', 'Curvv', 'Glanza', 'Compass', 'Figo', 'Eeco',
       'SCORPIO-N', 'Nano', 'KUV', 'Fiesta', 'SX4', 'Kiger', 'Fortuner',
       'Micra', 'Cruze', 'KUSHAQ', 'Scorpio', 'Etios', 'Jazz', 'Civic',
       'JIMNY', 'ELEVATE', 'FRONX', 'Bolero', 'Innova', 'Laura',
       'Corolla', 'Manza', 'Beat', 'XL6', 'Spark', 'TUV300', 'Zest',
       'Indigo'], dtype=object)